<!DOCTYPE html> 
<html lang="en"> 
<head> 
	<meta charset="utf-8"> 
	<title>404</title> 
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-3 col-xs-offset-2">
                        <p class="navbar-text navbar-middle ">错误页面404</p>
                    </div>
                </div>
            </div>
</nav>	
<div class="container">

    <div class="starter-template">
      <h1>很不幸，我们遇到了404错误，服务器无法找到文件</h1>
      <p class="lead">请尝试重新输入学号，密码或者验证码，可能是上述三者之一输错了。<br> 若多次尝试无法使用，请发邮件至lrr19960429@gmail.com,提交具体信息</p>
    </div>

  </div><!-- /.container -->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-3 col-xs-offset-2">
                    <p class="navbar-text navbar-right ">By LRR ©2018-2019 All Rights Reserved</p>
                </div>
            </div>
        </div>
    </nav>	
</body>
</html>
