<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table frame="border">
        <tr>
            <td>课名</td>
            <td>教师</td>
            <td>上课地点</td>
            <td>起止时间</td>
            <td>起止周数</td>
            <td>学号</td>
            <td>起止周数</td>
        </tr>
        {% for lesson in lecture %}
        <tr>
            <td>{{lesson.1}}</td>   <!--课程名称-->
            <td>{{lesson.2}}</td>   <!--教师-->
            <td>{{lesson.3}}</td>   <!--上课地点-->
            <td>第{{lesson.4}}到{{lesson.5}}节</td>   <!--开始节数-->
            <td>{{lesson.6}}</td>   <!--周几-->
            <td>{{lesson.7}}</td>   <!--学号-->
            <td>{{lesson.8}}到{{lesson.9}}周</td><!--周数-->
        </tr>
        {% endfor %}
    </table>
    <!-- <br/>
    asdasdasd<br/>
{% for i in lecture %}
    {{ i }}<br/>
{% endfor %} -->
</body>
</html>